@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  --black-color: rgb(34, 34, 34);
  --blue-color: #00c3e6;
  --orange-color: #fb8500;
  --green-color: #80ed99;
  --purple-color: #7b2cbf;
  --yellow-color: #fcca46;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
